# Store text files with LF line endings (the app is built and run on Linux).
* text=auto eol=lf

# Binary files
*.png binary
*.jpg binary
*.ico binary
*.woff binary
*.woff2 binary
*.docx binary
*.pdf binary
